<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
      .title2 {
        background-color: grey;
        color: white;
        border: 2px solid black;
        margin: 20px;
        padding: 20px;
        flex-wrap: wrap;
        text-align: center;
      }
      </style>
      <div class="title2">
    <title><h1>Pick a destination!</h1></title>
      </div>
  </head>
  <body>
    <% if logged_in? %>
    <a href="/logout">Logout</a>
<br/><br/><br/>
<% end %>

    <form action="/destinations" method="POST">
      <label> Destination name </label>
      <input type="text" name="name">
    </br>
      <input type="submit" value="Create">
    </form>

  </body>
</html>
