<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
      .title3 {
        background-color: grey;
        color: white;
        border: 2px solid black;
        margin: 20px;
        padding: 20px;
        flex-wrap: wrap;
        text-align: center;
      }
      </style>
      <div class="title3">
    <title>Edit Destination</title>
      </div>
  </head>
  <body>
    <% if logged_in? %>
    <a href="/logout">Logout</a>
<br/><br/><br/>
<% end %>

    <% @destination.each do |d| %>
      <%= destination.name %><br />
      <a href="/destination/<%=destination.id%>/edit">Edit</a>
      <br />
    <% end %>

  </body>
</html>
