<%= @destination.name %><br />

  <h3>Destinations</h3>
  <ol>
  <% @destination.each do |destination| %>
    return <a href="/destination/<%=destination.id%>"><%= destination.name %></a></li>
  <% end%>
  </ol>
  <a href="/destination/<%=@destination.id%>/edit">Edit</a>
  <br />
